<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
    <body>
    <div>
        <form action="http://form.html" target="_blank" onsubmit="try {return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);} catch (e) {return false;}">
            <label>Name<input type="text"></label><br>
            <label>Date Of Birth<input type="date"></label><br>
            <label>Address<textarea></textarea></label><br>
            <label>Gender<input type="radio" name="Gender">Female<input type="radio" name="Gender">Male</label><br>
            <label>Place<input type="checkbox">Kerala
            <input type="checkbox">Tamil Nadu</label><br>
            <label> College <select name="College">
                <option value="Saintgits">Saintgits</option>
                <option value="AJCET">AJCET</option>
                <option value="SJCET">SJCET</option>
            </select> </label><br>
            <label>Password: <input type="password" name=""></label><br>
            <input type="submit" value="register">
            <input type="reset" value="reset">
        </form>
    </div>

</body></html>